button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__accent;
	border-radius: 3px;
	background: $color__accent;
	color: $color__background;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	transition: $timing__fast;

	&:hover {
		border-color: $color__emphasis;
	}

	&:active,
	&:focus {
		border-color: $color__emphasis;
	}
}
